appdirs==1.4.4
asgiref==3.11.1
Booktype==1.5
certifi==2026.2.25
Django==6.0.3
importlib_metadata==9.0.0
psycopg2-binary==2.9.11
pyee==11.1.1
pyppeteer==2.0.0
redis==7.3.0
setuptools==82.0.1
simplejson==3.20.2
sqlparse==0.5.5
tqdm==4.67.3
typing_extensions==4.15.0
urllib3==1.26.20
websockets==10.4
zipp==3.23.0
